table {
	border: 1px solid black;
	clear:both;
	margin-bottom: 20px;
	height: 100%;
}
td {
	background-color: #DDDDDD;
	width: 150px;
	padding: 5px;
	height: 100%;
}
td div {
	background-color: #FFF;
	height: 100%;
}
#ids {
	width: 200px;
	float: right;
}

#ids:before{
	content: "Sessions";
	font-weight: bold;
}

#schedule {
	float: left;
}
.day {
	background-color: #666;
	color: #FFF;
}

.session {
	padding: 5px;
	border: #000 solid 1px;
	margin: 2px;
}
